@charset "utf-8";
*{padding:0;margin:0;}
*, *:before, *:after{box-sizing:border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
a,a:active,a:link,a:visited,a:hover{text-decoration:none}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
body{
font-family: Helvetica;
font-size: 14px;
	background:#FFF;
	line-height: 1;
	min-width: 240px;
	overflow-x: hidden;
	background:#f2f0f0;
	-webkit-text-size-adjust: 100%; /*  Para que Safari no haga auto-zoom*/
}
}
/* HTML5*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Fin Reset*/

body{
	background: #f2f0f0;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;	
	line-height: 1;
}
.MenuAuxiliar {
	width: 100%;
	background: #DDDDE2;
}
.MenuAuxiliar ul {
	max-width: 970px;
	height: 30px;
	font-size: 11px;
	width: 100%;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.MenuAuxiliar ul li {
	float: right;
	list-style: none;
	height:100%;
	padding: 8px 0;
	box-sizing: border-box;
	border-top: 2px solid transparent;
}
.MenuAuxiliar ul li a {
	width: 100%;
	height: 100%;
	color: #363654;
	padding: 8px;
	border-right: 1px solid #C9C9C9;
}
.Cabecera {
	display: block;
	width: 100%;
}
.CabeceraTitulo {
	width: 100%;
	background: #6D1A42;
}
.CabeceraTitulo .CabeceraContenido {
	height: 100px;
	width: 100%;
	max-width: 970px;
	min-width: 240px;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.CabeceraTitulo .CabeceraContenido h1 {
	font-size: 18px;
	font-weight: normal;
	color: #FFF;
	background:url(../Imagenes/HeaderLogoIPN.png) no-repeat right top;	
	float: right;
	height: 69px;
	margin: 0px;
	padding: 30px 0px 0px 70px;
	text-transform: uppercase;
	width: 400px;	
}
.LogoSEP, .EscudoIPN, .onceTV, .face, .twt, .gplus, .yutu, .blog, .rss{
	background:url('../Imagenes/Icons.png');
	float: right;
}
.CabeceraContenido .LogoSEP {
	width: 218px;
	height: 64px;
	background-position: 0px -70px;
	float: left;
	margin-top: 15px;
}
.CabeceraContenido .LogoIPN{
	height: 100%;
	position: relative;	
}
.EscudoIPN {
	width: 43px;
	height: 62px;
	background-position:-47px -138px;
	margin-top: 16px;
}
.CabeceraContenido .LogoIPN > span {
	position: absolute;
	right: 60px;
	text-align: right;
	top: 30px;
	width: 310px;
	color:white;
}
.CabeceraContenido .LogoIPN span a {
	color: white;
	display: block;
	font-size: 15px;
}
.CabeceraContenido .LogoIPN span span {
	clear: both;
	display: block;
	color: white;
	font-size: 14px;
}
.CabeceraTitulo .CabeceraContenido h1 a {
	color: #FFF;
	text-decoration: none;
}
.CabeceraTitulo .CabeceraContenido h1 a span {
	font-size: 14px;
	text-transform: none;
	display: block;
	padding-left: 100px;
}
.MenuPrincipal {	
	background:rgb(211,211,211);
}
.triggerh, .triggerv {
display: none;
}
.MenuPrincipal .MenuPrincipalContenido {
	display: table;
	width: 100%;
	max-width: 970px;
	min-height:32px;
	margin: auto;
	position: relative;
}
.MenuPrincipal .MenuPrincipalContenido ul {
	width: auto;
	margin: auto;
	display: table;
}
.MenuPrincipal .MenuPrincipalContenido ul li {
	float: left;
	position: relative;
	margin: 0 1px;
	border-bottom: 2px solid transparent;
	-moz-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
}
.MenuPrincipal .MenuPrincipalContenido ul li a {
	text-align: center;
	display: block;
	padding: 10px 8px 8px 8px;
	height: auto;
	color: black;
	font-size: 12px;
	font-weight: bold;
}
.RastroNavegacion {
	width: 100%;
	position: relative;
	background-color: rgb(194,194,194);
}
.RastroNavegacion .MenuRastroNavegacion {
	width: 100%;
	max-width: 970px;
	margin: auto;
	padding: 10px;
	position: relative;
	height: 90px;
}
.RastroNavegacion .MenuRastroNavegacion > span {
	padding: 3px 0px;
	font-size: 11px;
	text-align: left;
	display: block;
}
.RastroNavegacion .MenuRastroNavegacion span span{
	padding: 3px;
	color: #454444;
}
.RastroNavegacion .MenuRastroNavegacion a{
	color: #6d1a42;
}
.RastroNavegacion .TituloPagina{
	width: 100%;
	max-width: 970px;
	margin: auto;
	position: absolute;
	bottom: 8px;
	left: 0;
	right: 0;
	display: block;	
}
.RastroNavegacion .TituloPagina h1 {
	display: block;
	font-size: 20px;
	color: #000000;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	left: 195px;
	text-shadow: 0px -2px 3px rgb(136, 136, 136);
}
#Contenedor {
	width: 100%;
	max-width: 970px;
	min-width: 240px;
	margin: 0 auto;
	position: relative;
}
#ContenedorPrincipal{	
	width: 100%;
	display: table;
	min-height: 350px;
	height: 300px;
	position: relative;
	background: white;
}
#Contenedor .MenuVertical {
	display:block;/*No existia*/
	width: 177px;
	float: left;
	position: relative;/*Tenia absolute*/
	min-height: 100%;
	z-index: 1;
	background-color: white;
	box-shadow: 0 -7px 5px -1px rgba(0,0,0,.4);
	bottom: 33px;
}
#Contenedor .MenuVertical ul {
    margin-top: 32px;
}
#Contenedor .MenuVertical ul li {
	border-bottom: solid 1px rgb(210,210,210);
	position: relative;
	word-wrap: break-word;
	font-weight: bold;	
}
#Contenedor .MenuVertical ul li:first-child {
    border-top: solid 1px rgb(210,210,210);
}
.MenuVertical ul li a {
	display: block;
	background: none;
	padding: 5px 4px 5px 15px;
	font-size: 13px;
	border: none;
	color: #444444;
	margin-left: 3px;
}
#Contenedor .MenuVertical ul > li a:before {
	content: ">";
	display: block;
	top: 8px;
	left: 10px;
	position: absolute;
	font-size: 9px;
	font-weight: bold;
	font-family: "arial";
	color: gray;
}

#Contenedor .Contenido {
/*	float:right;
	max-width: 790px;
	width:100%;
	height: 0px;
	display: table;
	min-height: 350px;
	box-shadow: 0px 0px 5px;
	clear:both;*/
	width:100%;
	height: 0px;
	display: table;
	min-height: 350px;
	box-shadow: 0px 0px 5px;
	max-width: 790px;
background: white;
float: right;
border-radius: 0 0 0 50px;
padding: 10px 10px 30px 10px;
}

.mediosSociales{
	width: 100%;
	height: 43px;
}
.canalOnce{
	width: auto;
	float: left;
	height: 100%;	
}
.canalOnce ul{
	width: 100%;
	padding: 6px;
	display: table;
}
.canalOnce ul li{
	float: left;
	padding: 0px;
}

.canalOnce .onceTV{
	width:72px;
	height:31px;
	background-position:-146px -153px;
}
.sociales{
	width: auto;
	float: right;
	height: 100%;
	text-align: right;	
}
.sociales ul{
	height: 100%;
	float: right;
}
.sociales ul li{
	float: left;
	margin: 5px 5px 5px 0px;	
}
.sociales ul li a{
	display: block;
	width: 32px;
	height: 32px;
	position:relative;
}
.sociales li a span {
	width: 80px;
	height: auto;
	padding: 5px;
	left: 50%;
	margin-left: -38px;
	font-style: italic;
	font-size: 11px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	text-align: center;
	border: 2px solid #fff;
	background: rgba(114, 113, 113, 0.5);
	text-indent: 0px;
	border-radius: 2px;
	position: absolute;
	bottom: 60px;
	opacity: 0;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sociales li a span:before, .redes li a span:after {
	display: block;
	content: '';
	position: absolute;
	bottom: -11px;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(0,0,0,0.1);
}
.sociales li a span:after {
	bottom: -10px;
	margin-left: -10px;
	border-top: 10px solid #fff;
}
.sociales li a:hover span{
	opacity: 0.9;
	bottom: 50px;
}
.gplus, .rss, .yutu, .face, .twt, .blog{
	width: 32px;
	height: 32px;
	-moz-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
}
.face:hover{
	background-position:0 -32px;
}
.twt{
	background-position: -37px 0;
}
.twt:hover{
	background-position:-37px -32px;
}
.gplus {
	background-position: -147px 0;
}
.gplus:hover{
	background-position:-147px -32px;
}
.yutu {
	background-position: -73px 0;
}
.yutu:hover{
	background-position:-73px -32px;
}
.blog {
	background-position: -183px 0;
}
.blog:hover{
	background-position:-183px -32px;
}
.rss {
	background-position: -110px 0;
}
.rss:hover{
	background-position:-110px -32px;
}
.PiePagina{
	display: table;
	width: 100%;
	background: white;
}
.PiePagina .menupie{
	width: auto;
	float: right;
	height: 100%;
}
.PiePagina .menupie ul{
	float: right;
	display: block;
}
.PiePagina .menupie ul li{
	float: left;
	margin: 5px 5px 5px 0px;
	padding: 8px;
}
.PiePagina .menupie ul li a{
	color: #807F7F;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#Footer {
	width: 100%;
	height: auto;
	background: #DDDDE2;
	display: table;
	padding-bottom: 10px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.5) inset;
}
#Footer .contFooter {
	max-width: 970px;
	margin: auto;
}
#Footer .contFooter .direccion {
	width: 85%;
	text-align: center;
	margin: auto;
}
#Footer .contFooter p {
	padding-top: 10px;
	line-height: 15px;
	font-size: 11px;
	color: #666;
	clear: both;
}
#Footer .contFooter p a {
	font-size: 12px;
	color: #666666;
	text-transform: uppercase;
	margin-bottom: 8px;
	display: block;
	font-weight: bold;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#Footer .contFooter .direccion .derechos {
	padding: 0;
}

/*
@media screen and (max-width: 768px){

	.CabeceraContenido .LogoSEP { display:none; }
	.CabeceraContenido .LogoIPN span a { font-size: 12px; }
	.CabeceraContenido .LogoIPN span span { font-size: 11px; }
	.MenuPrincipal .MenuPrincipalContenido ul  { margin:0 auto;}
	.MenuPrincipal .MenuPrincipalContenido ul li { width:30%;}
	
	#Contenedor .MenuVertical {	width: 90%; margin:0 auto; bottom:1px; position:relative;	}
	
	.RastroNavegacion .TituloPagina h1 { font-size: 18px; bottom: 5px; left: 40%;}
	
}

@media screen and (max-width: 480px){

	.CabeceraContenido .LogoSEP { display:none; }
	.CabeceraContenido .LogoIPN span a { font-size: 12px; }
	.CabeceraContenido .LogoIPN span span { font-size: 11px; }
	.MenuPrincipal .MenuPrincipalContenido ul  { margin:0 auto;}
	.MenuPrincipal .MenuPrincipalContenido ul li { width:30%;}
	
	#Contenedor .MenuVertical {	width: 90%; margin:0 auto; bottom:1px; position:relative;	}
	
	.RastroNavegacion .TituloPagina h1 { font-size: 18px; bottom: 5px; left: 40%;}
	
}
*/

}
/*43.75em = 700px; 60.625 em = 970px; 25 em = 400px; 20 em = 320 */
@media screen and (max-width: 970px){
    .completa790{max-width:100%;}
    body #s4-leftpanel{display:none;background: transparent;top:0;box-shadow: none;}
    .triggerv{display:block;position:absolute;width: 30px;  height:30px;    padding: 8px;z-index: 2;background: url("/Style%20Library/Images/assets/MenuResponsive.png") no-repeat 5px;top: -35px;}
    #Contenedor .menu-vertical ul{margin:0}
    #Contenedor .menu-vertical{background:rgba(255,255,255,.8); min-height: 110px;box-shadow:0px 0px 5px -1px}
    .RastroNavegacion .MenuRastroNavegacion{height:70px;}
    .RastroNavegacion .TituloPagina h1{width:90%;left:0;right:0;margin: auto;text-align: center;}
}
@media screen and (max-width: 533px){
.MenuPrincipalContenido ul li{width: 98%;/* display: table; */}
.Cabecera .CabeceraTitulo .LogoSEP { display:none;}	
    .derechos{display:none;}
    .EscudoIPN{margin-right: 10px;}
    .MenuPrincipalContenido {position:relative;margin: auto;display:none;}
    .MenuPrincipalContenido ul li{margin:auto;}
    .MenuPrincipalContenido ul li.selected{display:block;}
    .MenuPrincipalContenido ul.on{height:auto;-moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;/* CSS3 */
    -webkit-transition: all 0.2s ease-in-out 0s; /* Safari and Chrome */
    -o-transition: all 0.2s ease-in-out 0s; /* Opera */}
    .MenuPrincipalContenido ul.on li{display:block;-moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;/* CSS3 */
    -webkit-transition: all 0.2s ease-in-out 0s; /* Safari and Chrome */
    -o-transition: all 0.2s ease-in-out 0s; /* Opera */}
    .triggerh{  display:block;  position:relative;  width: 100%;    height:30px;    padding: 8px;   text-align: center; margin: auto;   margin-left: -5px;  font-weight: bold;  color: black;}
    .zona950,.zona770,.zona710,.zona630,.zona510,.zona470,.zona380,.zona310,.zona250,.zona230{
    max-width:100%;
}

    
}

@media screen and (max-width: 320px){
.Cabecera .CabeceraTitulo .LogoSEP { display:none;}	
.Cabecera .CabeceraTitulo .LogoIPN > span{
    right:0;left:0;top:70px;margin:auto;text-align:center;
}
    .Cabecera .CabeceraTitulo .LogoIPN h1{text-align: center;width: 100%;right: auto;top: auto;bottom: 5px;}
    .EscudoIPN{float: none;margin: 2px auto;}
}
@media print {
    * {
        background: none !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
 
        /* Images, vectors and such */
        filter: Gray();                          /* IE4-8: depreciated */
        filter: url('desaturate.svg#grayscale'); /* SVG version for IE10, Firefox, Safari 5 and Opera */
        -webkit-filter: grayscale(100%);         /* Chrome + Safari 6 */
        -moz-filter: grayscale(100%);            /* Future proof */
        -ms-filter: grayscale(100%);             /* Future proof */
        -o-filter: grayscale(100%);              /* Future proof */
        filter: grayscale(100%);                 /* Future proof or polyfilled */
    }