@charset "utf-8";
/* CSS Document */

.tit{
list-style-type: disc;
color: rgb(83,8,39);
font-weight: bold;
font-size: 12px;
line-height:1.6;
margin-left: 15.2px;
}
.subtit{
list-style-type: disc;
color:#000;
font-family:arial;
font-size:12px;
margin-left: 45px;
line-height:1.5;
}
.titulo{
font-size: 16px;
color: #000;
font-weight: bold;
font-family: arial;
}
.medio{
background-color:rgb(243,243,243);
padding:27px;	
}
