@charset "utf-8";
/* CSS Document */
/*********************Estilos Grles**********************/

.zona_256, .zona_770, .zona_385, .zona_256 p, .zona_770 p, .zona_385 p{
	border:none !important;
}
.SliderAcercade{
	height:360px;
}

.modulo01, .modulo02{
	/*float:left;*/
	position: relative; /*se modifico*/
	width:100%;
	padding-bottom:5px;
	border-bottom:1px solid #ccc;
	min-height:123px;
	max-height:370px;
	overflow: hidden; /*se modifico*/
}

.modulo02 .ContenedorTxt{
	width:100%;
}
.modulo02 .descripcion{
	max-height:316px;
}
.modulo02 .descargar, .modulo02 .leer, .modulo02 .escuchar, .modulo02 .ver{
	margin-top: 10px;
	position: relative;
	float: right;
}

.ContenedorImg {
	/*position: static;*/ /*se modifico*/
	/*overflow:hidden;*/ /*se modifico*/
	width:30%; /*se modifico antes 30%*/
	float:left;
	/*height:100%;*/
	/*margin-right:2%;*/
	padding-right:15px; /*se modifico*/
}
.ContenedorImg img{
	/*min-height:123px;*/
	/*max-height:240px;*/
	width:100%
}
.der{
	float:right;
	/*margin-left:2%;*/
	/*margin-right:inherit;*/
	padding-right: 0px; /*se modifico*/
	padding-left: 15px; /*se modifico*/
}
.modulo01 .der .descargar, .modulo01 .der .leer, .modulo01 .der .ver, .modulo01 .der .escuchar {
	right: 30%;
}
.ContenedorTxt {
	/*float:left;*/
	/*width:68%;*/
	text-align: justify;
	/*position: relative;*/
	/*height: 100%;
	overflow: hidden;*/
	/*float: left;*/
	/*width: 70%;*/
	width:100%
}
.descripcion {
	/*width:100%;
	min-height:80px;
	max-height:316px;
	max-height:186px;
	overflow:hidden;*/
	
}
.ContenedorTxt h2{
	font-family:Arial;
	font-size:16px;
	color:#c28954;
	font-weight:bold;
	margin-bottom:20px;
}
.Texto p{
	top:30%;
	bottom:20%;	
	font-size: 13px;
	font-family:Arial;
    line-height: 15px;
    text-align: justify;
	border:none !important;
	/*min-height:44px;
	max-height:316px;
	overflow:hidden;*/
}
.descargar, .leer, .escuchar, .ver {
	/*right:5px;*/
	/*vertical-align:top;*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	/*float: right;*/
	/*position:absolute;*/
	/*width: 90px;*/
	/*height: 32px;*/
	/*margin-top: 10px;*/
	height: 33px;
	/*z-index: 1;*/
	/*z-index:3;*/
	position: relative;
	float:right
	/*bottom: 5px;*/
	/*right: 0;*/
	
}
.descargar span, .leer span, .escuchar span, .ver span{
	font-family:"Myriad Pro";
	font-weight:bold;
	color:#664759;
	font-style:italic;
	font-size:11px;
	padding-top: 13px;
	position: absolute;
	right:37px;
}
.descargar{
	background:url('../../IMAGENES/descargar.png') no-repeat;
	background-position:57px;
	width: 90px; /*se modifico*/
}
.leer{
	background:url('../../IMAGENES/leer.png') no-repeat;
	background-position:57px;
	width: 90px; /*se modifico*/
}
.escuchar{
	background:url('../../Imagenes/escuchar.png')no-repeat;
	background-position:57px;
	width: 90px; /*se modifico*/	
}
.ver{
	background:url('../../Imagenes/ver.png') no-repeat;
	background-position:57px;
	width: 90px; /*se modifico*/	
}

/*.wpUnidades ul{
	width:100%
}*/
/*.wpUnidades li{
	width:31%;
	float:left;
	margin-right:15px;
	margin-top:0px;
}*/
/*.wpUnidades{
	width:100%;
}*/
/*.wpNormatividad ul, .wpUnidades ul{
	width:100%
}*/

.wpCrono{
	position:relative;
	width:100%;
	height:440px;
	border:1px solid #ccc;
}
.ContenedorTxtSlider{
	position:relative;
	padding-bottom:0px;
}
.ContenedorTxtSlider h2{
	font-family:Arial;
	font-size:16px;
	color:#c28954;
	font-weight:bold;
	margin-bottom:20px;
	margin-left:5px;
	margin-top:10px;
}
.ContenedorImgSlider{
	width:100%;
	height:372px;
	padding:0 15px 15px 15px;
}
.ContenedorImgSlider img{
	float:right;
	margin-right:3px;
}

/*-------------------------Modulo03--------------------------*/
.modulo03{
	position:relative;
	float:left;
	width:100%;
	min-height:300px;
	max-height:370px;
}
.modulo03 .fondos{
	position:absolute;
	top:0px ;
	width:100%;
	height:30%;
}
.f1{
	background:url('../../Imagenes/ima01.jpg') no-repeat;
}
.f2{
	background:url('../../Imagenes/ima02.jpg') no-repeat;
}
.f3{
	background:url('../../Imagenes/ima03.jpg') no-repeat;
}
.modulo03 .ContenedorTxt{
	position:absolute;
	width: 100%;
	padding: 10px;
	height: 70%;
	top: 89px;
}
.modulo03 .Texto p{
	overflow:hidden;
	top:30%;
	bottom:20%;
}
.modulo03 .fondos span{
	position:absolute;
	float:left;
	padding-top: 30px;
	padding-left: 10px;
	font-size: 18px;
	width:166px;
}
.modulo03 ul{
	margin-top:10px;
}
.modulo03 .descargar span, .modulo03 .leer span, .modulo03 .escuchar span, .modulo03 .ver span, .modulo03 .vinculos span{
	right:47px;
}
.modulo03 .descargar, .modulo03 .leer{
	position:absolute;
	width: 14%;
	height: 11%;
	right: 0px;
	bottom: 0px;
	background-position:0px;
}
/**************************************************************/
/*-----------------------Inicia Modulo04----------------------*/
.modulo04{
	position:relative;
	width:100%;
}
.modulo04 li{
	float:left;
	margin-right:15px;
	margin-top:15px;
}
.modulo04 li img{
	width:235px;
	max-height:95px;
}
/**************************************************************/
.tit{
list-style-type: disc;
color: rgb(83,8,39);
font-weight: bold;
font-size: 12px;
line-height:1.6;
margin-left: 15.2px;
}
.subtit, .lista{
list-style-type: disc;
color:#000;
font-family:arial;
font-size:12px;
margin-left: 45px;
line-height:1.5;
padding-bottom: 10px;
}
.lista a{
color: #6d1a42;
font-weight: bold;
}
.titulo{
font-size: 16px;
color: #000;
font-weight: bold;
font-family: arial;
}
.medio{
background-color:rgb(243,243,243);
padding: 5px;
margin-top: 22px;	
}
.ultimo{
margin-top:27px;
}
.columna{
column-count: 2;
column-gap: 40px;
/*Firefox*/
-moz-column-count: 2;
-moz-column-gap: 40px;
/*Safari y Chrome*/
-webkit-column-count: 2;
-webkit-column-gap: 40px;c
}
.wpEscuelas h2{
	font-family:Arial;
	font-size:16px;
	color:#c28954;
	font-weight:bold;
	margin-bottom:20px;
}

.lista{
border-bottom: 1px dotted #ccc;
}
@media screen and (max-width: 320px){
	.modulo01, .modulo02 {
		float: left;
		width: 100%;
		padding-bottom: 5px;
		border-bottom: 1px solid #ccc;
		min-height: 123px;
		max-height: 100%;
	}
	.modulo01 .ContenedorImg img, .modulo02 .ContenedorImg img{display:none;}
	.modulo01 .leer, .modulo02 .leer, .modulo01 .descargar, .modulo02 .descargar, .modulo01 .escuchar, .modulo02 .escuchar, .modulo01 .ver, .modulo02 .ver{text-indent:inherit; background:inherit;}
	.modulo01 .leer span, .modulo02 .leer span, .modulo01 .descargar span, .modulo02 .descargar span, .modulo01 .escuchar span, .modulo02 .escuchar span, .modulo01 .ver span, .modulo02 .ver span{right:0px;}
	
	.wpUnidades .ContenedorTxt{width:100%; float:none;}
	.wpUnidades li{width:0;	float:none;	margin-top:10px;}
	.wpUnidades li img{width:260px;	padding-left:10px; padding-right:10px;}
	
	.modulo04 li{margin:15px 15px 0 15px;}
}