@charset "utf-8";
/* CSS Document */
/*********************Estilos Grles**********************/

.zona_256, .zona_770, .zona_385, .zona_256 p, .zona_770 p, .zona_385 p{
	border:none !important;
}

.modulo01 {
	float:left;
	width:100%;
	padding-bottom:5px;
	border-bottom:1px solid #ccc;
	min-height:123px;
	max-height:370px;
}

.ContenedorImg {
	width:30%;
	float:left;
	margin-right:2%;
}
.ContenedorImg img{
	min-height:123px;
	max-height:240px;
	width:100%
}
.der{
	float:right;
	margin-left:2%;
	margin-right:inherit;
}
.ContenedorTxt {
	float:left;
	width:68%;
	position:relative;
}
.descripcion {
	width:100%;
	min-height:80px;
	max-height:316px;
	overflow:hidden;
}
.ContenedorTxt h2{
	font-family:Arial;
	font-size:16px;
	color:#c28954;
	font-weight:bold;
	margin-bottom:20px;
}
.Texto p{
	top:30%;
	bottom:20%;	
	font-size: 13px;
	font-family:Arial;
    line-height: 15px;
    text-align: justify;
	border:none !important;
	min-height:44px;
	max-height:316px;
	overflow:hidden;
}
.descargar, .leer, .escuchar, .ver {
	/*right:5px;*/
	vertical-align:top;
	float: right;
	width: 90px;
	height: 32px;
	margin-top: 10px;
}
.descargar span, .leer span, .escuchar span, .ver span, .vinculos span{
	font-family:"Myriad Pro";
	font-weight:bold;
	color:#664759;
	font-style:italic;
	font-size:11px;
	padding-top: 13px;
	position: absolute;
	right:37px;
}
.descargar{
	background:url('../../IMAGENES/descargar.png') no-repeat;
	background-position:57px;
}
.leer{
	background:url('../../IMAGENES/leer.png') no-repeat;
	background-position:57px;	
}
.escuchar{
	background:url('../../Imagenes/escuchar.png')no-repeat;
	background-position:57px;	
}
.ver{
	background:url('../../Imagenes/ver.png') no-repeat;
	background-position:57px;	
}
.wpUnidades ul{
	width:100%
}
.wpUnidades li{
	width:31%;
	float:left;
	margin-right:15px;
	margin-top:0px;
}
.wpUnidades{
	height:135px;
	width:100%;
}
.modulo01 .vinculos{
	float: left;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 18%;
	height: 30px;
}

.wpNormatividad ul{
	width:100%
}
.wpNormatividad li{
	float:right;
	margin-right:15px;
	margin-top:15px;
}