@charset "utf-8";
/* CSS Document */
/*********************Estilos Grles**********************/
.zona_256, .zona_770, .zona_385{
	border:none !important;
}
.wpMision,.wpVision,.wpObjetivo, .wpPersonajes, .wpDirectores{
	position:relative;
	width:100%;
	border-bottom:1px solid #ccc !important;	
}
.Webpart01, .Webpart02, .Webpart03, .Webpart04, .wpHistoria, .wpCrono{
	position:relative;
	width:100%;
}
.ContenedorTxt{
	padding: 15px;
	position:absolute;
	right:0px;
}
.ContenedorTxt h2{
	font-family:Arial;
	font-size:16px;
	color:#ff9933;
	font-weight:bold;
	margin-bottom:20px;
}
.Texto p{
    font-size: 13px;
	font-family:Arial;
    line-height: 15px;
    text-align: justify;
	border:none !important;
}
.ContenedorImg{
	float:left;
	position:absolute;
}
.ContenedorImgDer{
	float:right;
	position:absolute;
	right:0px;
}
.vinculos{
	float:right;
	position:absolute;
	right:15px;
	bottom:15px;
	width:32px;
	height:32px;
}
.vinculos span{
	font-family:"Myriad Pro";
	font-weight:bold;
	color:#664759;
	font-style:italic;
	font-size:11px;
	float: right;
	position: absolute;
	right: 0px;
	top: 10px;
	width:85px;
	height:15px;
}

/*************************Fin esitlos Grles****************************************************/

/*********************Mision, Vision, Objetivo*********************************/

.wpMision,.wpVision,.wpObjetivo{
	height:240px;
}
.wpMision .ContenedorTxt,.wpVision .ContenedorTxt, wpObjetivo .ContenedorTxt{
	width:75%;
	height:233px;
}
.wpVision .ContenedorTxt {
	height:191px !important;
	left:0px !important;
}
.wpMision .ContenedorImg{
	width:25%;	
}
.wpVision .ContenedorImgDer{
	width:25%;
}
.wpVision .vinculos, .wpMision .vinculos{
	background:url('../../IMAGENES/descargar.png') no-repeat;	
}
/*********************Fin Mision, Vision, Objetivo********************************/

/*****************************Identidad******************************************/

.Webpart01, .Webpart02, .Webpart03{
		height:290px; /*¿Por definirse...?*/
}
.Webpart04{
		height:350px; /*¿Por definirse...?*/
}

.Webpart01 .ContenedorImg,.Webpart02 .ContenedorImg,.Webpart03 .ContenedorImg{
	position:absolute ;
	top:0px ;
	width:100%;
	height:30%;
}

.Webpart01 .ContenedorImg{
	background:url('../../IMAGENES/ima01.jpg') no-repeat;
}

.Webpart02 .ContenedorImg{
	background:url('../../IMAGENES/ima02.jpg') no-repeat;
}

.Webpart03 .ContenedorImg{
	background:url('../../IMAGENES/ima03.jpg') no-repeat;
}
.Webpart01 .ContenedorTxt, .Webpart02 .ContenedorTxt, .Webpart03 .ContenedorTxt{
	height:222px;
	bottom:-18px;
}
.Webpart01 .Texto p, .Webpart02 .Texto p, .Webpart03 .Texto p{
	overflow:hidden;
	top:30%;
	bottom:20%;
}

.Webpart01 .ContenedorImg span,.Webpart02 .ContenedorImg span,.Webpart03 .ContenedorImg span{
	position:absolute;
	float:left;
	padding-top: 32px;
	padding-left: 15px;
	font-size: 18px;
	width:160px;
}

.Webpart01 .vinculos{
	background:url('../../IMAGENES/descargar.png') no-repeat;
}

.Webpart03 .vinculos{
	background:url('../../IMAGENES/leer.png') no-repeat;
}
/**********************************Fin Identidad************************************/
/***********************************Historia******************************/
.wpHistoria, .wpCrono{
	height:440px;
}
.wpDirectores{
	height:132px;
}
.wpPersonajes{
	height:170px;
}
.wpCrono{
	border:1px solid #ccc;
}
.wpDirectores, .wpPersonajes{
	border-bottom: 1px solid #ccc;
}
.wpHistoria .ContenedorTxt{
	height:440px;
	width:100%;
}
.wpCrono .ContenedorTxt{
	position:relative;
}
.wpDirectores .ContenedorTxt{
	height:125px;
	width:68%;
}
.wpPersonajes .ContenedorTxt{
	height:163px;
	width:67%;
	left:0px;
}
.wpCrono .ContenedorImg{
	width:100%;
	height:372px;
	padding:0 15px 15px 15px;
}
.wpCrono .ContenedorImg img{
	float:right;
	margin-right:3px;
}
.wpDirectores .ContenedorImg{
	width:32%;
}
.wpPersonajes .ContenedorImgDer{
	width:33%;
}
.wpHistoria .vinculos, .wpDirectores .vinculos{
	background:url(../../IMAGENES/leer.png) no-repeat;	
}


/**********************************Fin Historia***************************/




