@charset "utf-8";
/* CSS Document */

p{
	border:1px solid #CCC;
 }

.contenedorl{
	width:100%;
	max-width:790px;
	height:auto;
	display:block;
	margin:0 auto;
	padding:5px;
}

.zona_780 {
	max-width:790px;
}

.zona_585 {
	max-width:585px;
}

.zona_520 {
	max-width:520px;
}

.zona_385 {
	max-width:390px;
}

.zona_253 {
	max-width:260px;
}

.zona_187 {
	max-width:195px;
}

.zona_187, .zona_253, .zona_385, .zona_520, .zona_585, .zona_780
	{
	display:inline-block;
	width:100%;
	padding:5px;
	border:1px solid #CCC;
	float:left
	}
