@charset "utf-8";
/* CSS Document */

p{
	border:1px solid #CCC;
 }

.contenedorl{
	width:100%;
	max-width:770px;
	height:auto;
	display:block;
	margin:0 auto;
}

.zona_750 {
	max-width:100%;
}

.zona_558 {
	max-width:75%;
}

.zona_494 {
	max-width:66.66%;
}

.zona_365 {
	max-width:50%;
}

.zona_236 {
	max-width:33.33%;
}

.zona_172 {
	max-width:25%;
}

.zona_172, .zona_236, .zona_365, .zona_494, .zona_558, .zona_750
	{
	display:inline-block;
	width:100%;
	padding:10px;
	border:1px solid #CCC;
	float:left
	}