@charset "utf-8";
/* CSS Document */

p{
	border:1px solid #CCC;
 }

.contenedorl{
	width:100%;
	max-width:790px;
	height:auto;
	display:block;
	margin:0 auto;
	padding:5px;
}

.zona_780 {
	display:inline-block;
	max-width:790px;
	width:100%;
	padding:5px;
	border:1px solid #CCC;
	float:left
}

.zona_585 {
	display:inline-block;
	max-width:585px;
	width:100%;
	padding:5px;
	border:1px solid #CCC;
	float:left
}

.zona_520 {
	display:inline-block;
	max-width:520px;
	width:100%;
	padding:5px;
	border:1px solid #CCC;
	float:left
}

.zona_385 {
	display:inline-block;
	max-width:390px;
	width:100%;
	padding:5px;
	border:1px solid #CCC;
	float:left;
}

.zona_253 {
	display:inline-block;
	max-width:260px;
	width:100%;
	padding:5px;
	border:1px solid #CCC;
	float:left;
}

.zona_187 {
	display:inline-block;
	max-width:195px;
	width:100%;
	padding:5px;
	border:1px solid #CCC;
	float:left;
}