@charset "utf-8";
/* CSS Document */
.zona_770,.Texto p {
	border:none !important;
}
.ContenedorImg,.ContenedorTxt, .ContenedorImgDer, .Descargar span{
position:relative;
}
.ContenedorTxt{
	padding: 15px;
}
.ContenedorTxt h2{
	font-family:Arial;
	font-size:16px;
	color:#ff9933;
	font-weight:bold;
}
.Texto p{
    font-size: 13px;
	font-family:Arial;
    line-height: 20px;
    margin-top: 20px;
    text-align: justify;
}
.ContenedorImg{
	float:left;
	margin-right:15px;
	
}
.ContenedorImgDer{
	float:right;
	margin-left:15px;
}
.Descargar{
	float: right;	
}
.Descargar span{
	font-family:"Myriad Pro";
	font-weight:bold;
	color:#664759;
	font-style:italic;
	font-size:11px;
	float: left;
	top: 11px;
	right: 3px;

}



