@charset "utf-8";
/* CSS Document */
.zona_770 {
	border:none !important;
}
.ContenedorTxt{
    position:relative;
	padding: 15px;
}
.ContenedorTxt h2{
	font-family:Arial;
	font-size:16px;
	color:#ff9933;
	font-weight:bold;
}
.Texto p{
    font-size: 13px;
	font-family:Arial;
    line-height: 20px;
    margin-top: 20px;
    text-align: justify;
	border:none !important;
}
.ContenedorImg{
	position:relative;
	margin-right:15px;
	float:left;
}
.ContenedorImgDer{
	position:relative;
	float:right;
	margin-left:15px;
}
.Descargar{
	float: right;	
}
.Descargar span{
	font-family:"Myriad Pro";
	font-weight:bold;
	color:#664759;
	font-style:italic;
	font-size:11px;
	float: left;
	position: relative;
	top: 11px;
	right: 3px;

}
/*.DescargarIzq{
	float: right;
	margin-top: -13px;
	margin-right: 6px;
}
.Descargar img{
	/*margin-right:-2px;
}*/



