@charset "utf-8";
/* CSS Document */
.zona_770{
	border:none !important;
}
.wpMision,.wpVision,.wpObjetivo{
	position:relative;
	width:100%;
	border-bottom:1px solid #ccc !important;	
}
.wpMision{
	height:240px;
}
.wpVision{
	height:210px;
}
.wpObjetivo{
	height:150px;
}
.wpMision .ContenedorTxt,wpObjetivo .ContenedorTxt {
	width:75%;
	height:233px;
	padding: 15px;
	position:absolute;
	right:0px;
}
.wpVision .ContenedorTxt {
	height:191px;
	width:75%;
	padding: 15px;
	position:absolute;
	/*right:0px;*/
}

.wpMision .ContenedorTxt h2, .wpVision .ContenedorTxt h2,.wpObjetivo .ContenedorTxt h2{
	font-family:Arial;
	font-size:16px;
	color:#ff9933;
	font-weight:bold;
	margin-bottom:20px;
}
.Texto p{
    font-size: 13px;
	font-family:Arial;
    line-height: 20px;
    text-align: justify;
	border:none !important;
}
.wpMision .ContenedorImg{
	width:25%;
	float:left;
	position:absolute;
	
}
.wpVision .ContenedorImgDer{
	float:right;
	/*position:absolute;*/
}
.Descargar{
	position:absolute;
	width:32px;
	height:	31px;
	background:url(../../IMAGENES/descargar.png) no-repeat;	
	right:15px;
	bottom:15px;
}
.Descargar span{
	font-family:"Myriad Pro";
	font-weight:bold;
	color:#664759;
	font-style:italic;
	font-size:11px;
	float: right;
	margin-right: 36px;
	margin-top: 11px;

}



